body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: darkgrey;
}

    html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
      }

      video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

#container{
    width: 300px;
    margin: 0;
    padding: 30px;
    text-align: center;
    position: relative;
    
    background-color: dimgrey;
}
.menu{
    display: flex;
    justify-content: space-between;
}
#bar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#huhu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.exit{
    font-size: 25px;
}
img{
    width: 225px;
    height: 225px;
    box-shadow:0px 0px 5px white;
}

p, h1{
    margin: 0;
}
h1{
    margin-top: 10px;
    font-size: 150%;
}
p{
    opacity: 0.5;
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
}
#right, #left{
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 4px black
    
}
#pause{
    width: 70px;
    height: 70px;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
     box-shadow:1px 1px 4px black
}
#music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
#seekBar{
    width: 100%;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
/* Thumb (the draggable circle) */
#seekBar::-webkit-slider-thumb {
  background: black;
}

#musicLi{
     position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.95);
  color: white;
  padding: 40px;
  box-sizing: border-box;
  z-index: 10;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song{
    background: grey;
    width: 100%;
    height: 60px;
    border-radius: 999px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: center;
}
.song img{
    height: 100%;
    width: 80px;
    object-fit: cover;
    box-shadow: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.song h1{
    font-size: large;
    flex-grow: 1;
    text-align: center;
    margin: 0px 5px;
}
